.board {
    width: 405px;
    height: 405px;
    position: relative;
    background: #ddd;
}

.tile {
    /* currently set for 9 grid, for 16 grid adjust to 95px */
    width: 135px; 
    height: 135px;
    position: absolute;
    background: white;
    transition: all 0.1s ease-in-out;
    border-radius: 2px;
    background-image: url('./assets/stadium_square.jpg');
    background-size: 400px 400px;
  }

  .overlay {
    width: 405px;
    height: 405px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #0004;
    display: flex;
    align-items: center;
    justify-content: center;
  }