.board {
    width: 400px;
    height: 400px;
    position: relative;
    /* background: #ddd; */
}

.tile {
    /* currently set for 9 grid, for 16 grid adjust to 95px */
    width: 130px; 
    height: 130px;
    position: absolute;
    background: white;
    transition: all 0.1s ease-in-out;
    border-radius: 2px;
    background-image: url('./assets/smiley.svg');
    background-size: 400px 400px;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #0004;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
  }